<div class="card mb-2" style="width: 80vw">

  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <p class="text-center fs-3">กรุณาพิมพ์ชื่อห้องที่ต้องการชำระเงิน</p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="form-group w-25">
          <div class="input-group ">
            <div class="input-group-prepend">
              <span class="input-group-text p-5"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="ค้นหาตามหมายเลขห้อง" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card my-5" style="width: 80vw">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <p class="text-center fs-3">ไม่มีห้องค้างชำระ</p>
      </div>

    </div>
  </div>
</div>
