<div class="container mb-lg-5" style="width: 90vw;">
  <div class="scrollmenu">
    <a type="button" class="btn btn-secondary " routerLink="/setting/place" routerLinkActive="active">ข้อมูลโรงแรม</a>
    <a type="button" class="btn btn-secondary " routerLink="/setting/bill" routerLinkActive="active">บิล</a>
    <!-- <a type="button" class="btn btn-secondary " routerLink="/setting/lease">สัญญาเช่า</a> -->
    <a type="button" class="btn btn-secondary " routerLink="/setting/plan" routerLinkActive="active">ผังห้อง</a>
    <!-- <a type="button" class="btn btn-secondary " routerLink="/setting/water-electric">ค่าน้ำ-ค่าไฟ</a> -->
    <a type="button" class="btn btn-secondary " routerLink="/setting/room" routerLinkActive="active">ค่าเช่าห้อง</a>
    <a type="button" class="btn btn-secondary " routerLink="/setting/service" routerLinkActive="active">ค่าบริการ </a>
    <a type="button" class="btn btn-secondary " routerLink="/setting/fee" routerLinkActive="active">ค่าปรับ</a>
    <a type="button" class="btn btn-secondary " routerLink="/setting/asset" routerLinkActive="active">รายการทรัพย์สิน</a>
    <!-- <a type="button" class="btn btn-secondary " routerLink="/setting/horganice">Horganice ID</a> -->
    <a type="button" class="btn btn-secondary " routerLink="/setting/bank" routerLinkActive="active">เพิ่มช่องทางชำระเงิน</a>
  </div>
</div>

<router-outlet></router-outlet>

