<div class="card-body py-3">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-8 card">
      <div class="text-box-heading clearfix d-flex card-head">
        <div class="col-md-9 offset-1 text-center">
          <img src="https://app.horganice.in.th/images/icon/roomrate-setting-black.png" width="40px"><span>
            รายการทรัพย์สิน</span>
        </div>
        <div class="col-md-2 d-flex justify-content-end">
          <button class="btn btn-primary" (click)="openAllAsset(contentAllAsset)">
            เพิ่มทรัพย์สิน
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="row d-flex">
    <div class="col-xs-12 bg-table card" *ngFor="let floor of checkedList">
      <div class="card-body">

        <div class="text-box-content clearfix" style="border-color:#CCCCCC">
          <div class="d-flex justify-content-between">
            <h4>
              โซน {{ floor.floorName }}
            </h4>
            <div class="pull-right">
            </div>
          </div>

          <div class="content clearfix">
            <!-- Rooms -->
            <div class="constant row" *ngIf="floor.listRoom.length !== 0 ">
              <div class="col-md-6 col-sm-5ths mt-5 "
                *ngFor="let room of floor.listRoom | paginate: { itemsPerPage: mobile, currentPage: p }">

                <div class="roomrate-div-inner " (click)="openBackDropCustomClass(content, floor.id, room.idr)"
                  *ngIf="room.listAsset.length !== 0 ">
                  <div class="room-icon"
                    [ngClass]="room.isSelected === true ? 'room-select-layer room-icon' : 'icon-hide'">
                    <i class="fas fa-check"></i>
                  </div>
                  <img class="room-transfer" src="https://app.horganice.in.th/images/apartment_create/set-asset.png"
                    alt="img room">
                  <div class="text-top hidden-xs text-center">
                    <span class="text-title-price">{{ room.roomName }}</span>
                  </div>
                </div>

                <div class="roomrate-div-inner-empty" (click)="openBackDropCustomClass(content, room.id, floor.id)"
                  *ngIf="room.listAsset.length === 0 || room.listAsset === undefined">
                  <div class="room-icon"
                    [ngClass]="room.isSelected === true ? 'room-select-layer room-icon' : 'icon-hide'">
                    <i class="fas fa-check"></i>

                  </div>
                  <!---->
                  <div class="text-top hidden-xs text-center">
                    <span class="text-title-price">{{ room.roomName }}</span>
                  </div>
                  <div class="text-middle" style="bottom:30%">
                    <i class="fa fa-plus fa-2x" id="icon-title"></i><br>
                  </div>
                  <div class="text-bottom hidden-xs text-center">
                    <span class="text-title-price">ยังไม่ได้กำหนด</span>
                  </div>
                  <!---->
                </div>

              </div>
            </div>
            <div class="constant row " *ngIf="floor.listRoom.length === 0 ">
              <h4 class="text-center pb-5 pt-5">ไม่มีห้องในโซนนี้</h4>
            </div>
            <!-- Rooms -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <footer class="fixed-bottom">
  <div class="row">
    <div class="col-4 offset-2 me-5">
      <button type="button" class="btn btn-success w-100" [disabled]="this.settingroom === 0 ? true : false"
        (click)="openBackDropCustomClass(content)">กำหนดทรัพย์สิน</button>
    </div>
  </div>
</footer> -->


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">รายการทรัพย์สิน</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row col-4">
      <button type="button" class=" btn btn-green btn-xs" (click)="addAsssetInRoom()">
        <i class="fa fa-plus addasset"></i> เพิ่มทรัพย์สิน
      </button>
    </div>
    <table class="table table-bordered text-center">
      <thead>
        <tr class="text-left">
          <th style="width: 50px;">
            #
          </th>
          <th>
            ชื่อรายการ
          </th>
          <th>
            ค่าปรับ (กรณีเสียหาย)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assetInRoom of itemsInRoom; let i = index;">
          <td>
            <p> {{ i+1 }}</p>
          </td>
          <td>
            <select class="form-control ng-pristine ng-valid ng-not-empty ng-touched"
              [(ngModel)]="assetInRoom.nameAsset" (change)="updateAsset(assetInRoom)">
              <option value="" disabled="" selected="selected">โปรดลือก</option>
              <option *ngFor="let assetlist of itemsAsset" [value]="assetlist.nameAsset">{{assetlist.nameAsset}}
              </option>
            </select>
          </td>
          <td>
            <input name="apartmentId" type="number" [(ngModel)]="assetInRoom.priceAsset"
              class="form-control ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required"
              placeholder="ค่าปรับ" required="" (change)="updateAsset(assetInRoom)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-outline-dark" (click)="addService()">Save</button>
  </div>
</ng-template>

<ng-template #contentAllAsset let-modal>
  <div class="modal-header">
    <h4 class="modal-title">เพิ่มทรัพย์สิน</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addAssetFrom">
      <div class="row">
        <label for="">ชื่อทรัพย์สิน <span class="text-red">*</span></label>
        <div class="col-md-10 ">
          <b>
            <input type="text" formControlName="nameAsset"
              class="form-control ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required" placeholder=""
              required="">
          </b>
        </div>
        <div class="col-md-2">
          <button ng-if="selectMode" (click)="addListAsset()" type="button" class=" btn btn-green btn-xs">เพิ่ม</button>
        </div>
      </div>
    </form>
    <table class="table table-bordered text-center">
      <thead>
        <tr class="text-left">
          <th style="width: 50px;">
            #
          </th>
          <th>
            ชื่อรายการ
          </th>
          <th style="width: 50px;">
            ลบ
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asset of itemsAsset; let i = index;">
          <td>
            <p>
              {{ i+1 }}
            </p>
          </td>
          <td>
            {{ asset.nameAsset }}
          </td>
          <td>
            <button type="button" class=" btn btn-red btn-xxs" (click)="deleteAset(asset.id)">
              <!-- <i class="fa fa-trash" id="delete-asset"></i> -->
              ลบ
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-outline-dark" (click)="addService()">Save</button>
  </div>
</ng-template>
